.about {
  padding-bottom: 0;
  &__img-coffee {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 20px;

    @media screen and (min-width: 1280px) {
      margin-bottom: 22px;
    }
  }

  &__text:nth-child(3) {
    margin-bottom: 0;
    @media screen and (min-width: 1280px) {
      margin-bottom: 22px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.25;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1280px) {
      font-size: 18px;
    }
  }

  &__text-desktop {
    display: none;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 20px;

    @media screen and (min-width: 1280px) {
      display: block;
      font-size: 18px;
      line-height: 1.22;
    }
  }

  &__btn-less {
    padding: 0;
    display: block;
    background-color: transparent;
    border: none;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: start;
    cursor: pointer;
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  &__less {
    font-family: 'Caveat Brush';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
    color: var(--btn-color);
  }

  &__more {
    margin-top: 16px;
    font-family: 'Caveat Brush';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.28;
    color: var(--btn-color);

    @media screen and (min-width: 1280px) {
    }
  }

  &__container-img {
    @media screen and (min-width: 768px) {
      width: 440px;
    }

    @media screen and (min-width: 1280px) {
      width: 502px;
    }
  }

  &__container-text {
    @media screen and (min-width: 768px) {
      width: 440px;
      margin-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
      width: 480px;
      margin-top: 135px;
    }
  }

  &__container-text .subtitle {
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
      text-align: start;
      margin-bottom: 16px;
    }
  }
}

.about-container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    gap: 132px;
    justify-content: center;
  }
}

.is-hidden {
  display: none;
}
