<section class="contacts">
  <div class="container">
    <h2 class="contacts-title subtitle" id="contacts">Contact</h2>
    <p class="contacts-description">We will answer any question!</p>

    <form class="form-container form-container__item" action="submin">
      <input type="email" name="email" placeholder="E-mail" class="form-container__data data-email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email" required />
      <span class="form-container__helper"> * Donut@gmail.com</span>
      <input type="text" placeholder="Type your question" class="form-container__data data-tel" />
      <button type="submit" class="button">Send</button>
    </form>

    <ul class="social-link cont-soc">
      <li class="social-link__item">
        <a href="https://twitter.com/?lang=uk" class="social-link__link" target="_blank">
          <svg class="social-link__icon" width="16" height="16">
            <use href="/src/images/svg/icon.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-link__item">
        <a href="https://www.instagram.com/" class="social-link__link" target="_blank">
          <svg class="social-link__icon" width="16" height="16">
            <use href="/src/images/svg/icon.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-link__item">
        <a href="https://uk-ua.facebook.com/" class="social-link__link" target="_blank">
          <svg class="social-link__icon" width="16" height="16">
            <use href="/src/images/svg/icon.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>