<header class="header">
  <div class="container">
    <div class="header__container">
      <a class="header__logo" href="./index.html">
        <img class="header__image" src="./images/svg/main-logo.svg" alt="" />
      </a>
      <div class="burger-menu m-burger">
        <a class="burger-menu__logo" href="./index.html">
          <img class="burger-menu__image" src="./images/svg/main-logo.svg" alt="" />
        </a>
        <nav class="navigation">
          <ul class="navigation__list" id="menu">
            <li class="navigation__item"><a class="navigation__link" href="#about-us">About us</a></li>
            <li class="navigation__item"><a class="navigation__link" href="#program">Program</a></li>
            <li class="navigation__item"><a class="navigation__link" href="#speakers">Speakers</a></li>
            <li class="navigation__item"><a class="navigation__link" href="#price">Price</a></li>
            <li class="navigation__item"><a class="navigation__link" href="#reviews">Reviews</a></li>
            <li class="navigation__item"><a class="navigation__link" href="#contacts">Contacts</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <button class="burger-menu__button menu-burger-btn" aria-expanded="false" aria-label="menu burger buttom"
      type="button">
      <svg width="30" height="17">
        <use class="burger-menu__close" href="./images/svg/icon.svg#close"></use>
        <use class="burger-menu__menu" href="./images/svg/icon.svg#menu"></use>
      </svg>
    </button>
    <div class="header-box">
      <h1 class="header__title">Donut Masterclass with the Donut King</h1>
      <p class="header__text">Hosted by Eva Green</p>
      <a class="header__button" href="#registration" aria-label="Register">Register</a>
    </div>
    <ul class="social-link">
      <li class="social-link__item">
        <a class="social-link__link" href="https://twitter.com/" target="_blank">
          <svg class="social-link__icon" width="16" height="16">
            <use href="./images/svg/icon.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-link__item">
        <a class="social-link__link" href="https://www.instagram.com/" target="_blank">
          <svg class="social-link__icon" width="16" height="16">
            <use href="./images/svg/icon.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-link__item">
        <a class="social-link__link" href="https://www.facebook.com/" target="_blank">
          <svg class="social-link__icon" width="16" height="16">
            <use href="./images/svg/icon.svg#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>