<section class="section price-section" id="price">
  <div class="container price">
    <h2 class="price__title subtitle">Price</h2>
    <ul class="price__grid price__card--margin">
      <li class="price__card price__card--margin">
        <h3 class="price__title-card">Easy start</h3>
        <ul class="price__list">
          <li class="price__item">-features of yeast dough preparation</li>
          <li class="price__item">-preparation of liquid caramel for stuffing</li>
          <li class="price__item">-preparation of raspberry and strawberry filling</li>
          <li class="price__item">-fry and glaze donuts</li>
        </ul>
        <a class="price_btn link" href="#registration">Register</a>
      </li>
      <li class="price__card price__card--margin">
        <h3 class="price__title-card">I want delicious donuts</h3>
        <ul class="price__list">
          <li class="price__item">-features of yeast dough preparation</li>
          <li class="price__item">-preparation of liquid caramel for stuffing</li>
          <li class="price__item">-preparation of raspberry and strawberry filling</li>
          <li class="price__item">-melt chocolate for decoration</li>
          <li class="price__item">-fry and glaze donuts</li>
          <li class="price__item">-donut decoration. painting and various techniques</li>
        </ul>
        <a class="price_btn link" href="#registration">Register</a>
      </li>
      <li class="price__card price__card--margin">
        <h3 class="price__title-card">Premium</h3>
        <ul class="price__list">
          <li class="price__item">-features of yeast dough preparation</li>
          <li class="price__item">-preparation of liquid caramel for stuffing</li>
          <li class="price__item">-preparation of raspberry and strawberry filling</li>
          <li class="price__item">-melt chocolate for decoration</li>
          <li class="price__item">-fry and glaze donuts</li>
          <li class="price__item">-donut decoration. painting and various techniques</li>
          <li class="price__item">-After party and donut tasting with speakers</li>
          <li class="price__item">-2 private lessons with one of the speakers</li>
        </ul>
        <a class="price_btn link" href="#registration">Register</a>
      </li>
    </ul>
  </div>
</section>
