<section class="program section" id="program">
  <div class="program-container container">
    <div class="program__container-text">
      <h2 class="subtitle">Program</h2>
      <p class="program__text-top">Indulge in this immersive sweet treat experience with The Chef Donut Queen in her New
        York donut shop!</p>
      <ul class="program__benefits-list">
        <li class="program__benefit">
          <span>A stand up history of donuts</span>
        </li>
        <li class="program__benefit">
          <span>Make 3 donut flavors of your choice</span>
        </li>
        <li class="program__benefit">
          <span>Enjoy all-you-can- eat donuts</span>
        </li>
        <li class="program__benefit">
          <span>Cocktail pairings and coffee included</span>
        </li>
        <li class="program__benefit">
          <span>Photoshoot by professional photographer</span>
        </li>
        <li class="program__benefit">
          <span>Secret receipt of cooking from Eva</span>
        </li>
        <li class="program__benefit">
          <span>All products are included in the price</span>
        </li>
      </ul>
      <p class="program__text-desktop" data-text>
        Come with your dear people and friends and you will spend an unforgettable time and will become a real
        professional in donuts cooking!
      </p>
      <button class="program__btn-less" type="button" data-btn-more>
        <span class="about__less is-hidden" data-text-more>Less</span>
        <span class="about__more" data-text-less>Read more</span>
      </button>
    </div>
    <div class="program__container-img">
      <ul class="program__orders-list">
        <li class="program__order">
          <div class="program__order-point">
            <picture class="program__order-img">
              <source media="(min-width: 1280px)"
                srcset="./images/program/donut_1-desc-1x.webp 1x, ./images/program/donut_1-desc-2x.webp 2x"
                type="image/webp" />
              <source media="(min-width: 768px)"
                srcset="./images/program/donut_1-tab-1x.webp 1x, ./images/program/donut_1-tab-2x.webp 2x"
                type="image/webp" />
              <source media="(max-width: 767px)"
                srcset="./images/program/donut_1-mob-1x.webp 1x, ./images/program/donut_1-mob-2x.webp 2x"
                type="image/webp" />
              <source media="(min-width: 1280px)"
                srcset="./images/program/donut_1-desc-1x.png 1x, ./images/program/donut_1-desc-2x.png 2x"
                type="image/png" />
              <source media="(min-width: 768px)"
                srcset="./images/program/donut_1-tab-1x.png 1x, ./images/program/donut_1-tab-2x.png 2x"
                type="image/png" />
              <source media="(max-width: 767px)"
                srcset="./images/program/donut_1-mob-1x.png 1x, ./images/program/donut_1-mob-2x.png 2x"
                type="image/png" />
              <img class="program__img" src="./images/program/donut_1-mob-1x.png" alt="donut" width="77" height="80"
                loading="lazy" />
            </picture>
            <h3 class="program__order-title">Type of the event</h3>
            <p class="program__order-text">Cooking classes</p>
            <svg class="program__order-icon" width="19" height="18">
              <use href="./images/svg/icon.svg#chef-hat"></use>
            </svg>
          </div>
        </li>
        <li class="program__order">
          <div class="program__order-point">
            <picture class="program__order-img">
              <source media="(min-width: 1280px)"
                srcset="./images/program/donut_2-desc-1x.webp 1x, ./images/program/donut_2-desc-2x.webp 2x"
                type="image/webp" />
              <source media="(min-width: 768px)"
                srcset="./images/program/donut_2-tab-1x.webp 1x, ./images/program/donut_2-tab-2x.webp 2x"
                type="image/webp" />
              <source media="(max-width: 767px)"
                srcset="./images/program/donut_2-mob-1x.webp 1x, ./images/program/donut_2-mob-2x.webp 2x"
                type="image/webp" />
              <source media="(min-width: 1280px)"
                srcset="./images/program/donut_2-desc-1x.png 1x, ./images/program/donut_2-desc-2x.png 2x"
                type="image/png" />
              <source media="(min-width: 768px)"
                srcset="./images/program/donut_2-tab-1x.png 1x, ./images/program/donut_2-tab-2x.png 2x"
                type="image/png" />
              <source media="(max-width: 767px)"
                srcset="./images/program/donut_2-mob-1x.png 1x, ./images/program/donut_2-mob-2x.png 2x"
                type="image/png" />
              <img src="./images/program/donut_2-mob-1x.png" alt="donut" width="75" height="80" />
            </picture>
            <h3 class="program__order-title">Number of guests</h3>
            <p class="program__order-text">1 to 20</p>
            <svg class="program__order-icon" width="19" height="17">
              <use href="./images/svg/icon.svg#people"></use>
            </svg>
          </div>
        </li>
        <li class="program__order">
          <div class="program__order-point">
            <picture class="program__order-img">
              <source media="(min-width: 1280px)"
                srcset="./images/program/donut_3-desc-1x.webp 1x, ./images/program/donut_3-desc-2x.webp 2x"
                type="image/webp" />
              <source media="(min-width: 768px)"
                srcset="./images/program/donut_3-tab-1x.webp 1x, ./images/program/donut_3-tab-2x.webp 2x"
                type="image/webp" />
              <source media="(max-width: 767px)"
                srcset="./images/program/donut_3-mob-1x.webp 1x, ./images/program/donut_3-mob-2x.webp 2x"
                type="image/webp" />
              <source media="(min-width: 1280px)"
                srcset="./images/program/donut_3-desc-1x.png 1x, ./images/program/donut_3-desc-2x.png 2x"
                type="image/png" />
              <source media="(min-width: 768px)"
                srcset="./images/program/donut_3-tab-1x.png 1x, ./images/program/donut_3-tab-2x.png 2x"
                type="image/png" />
              <source media="(max-width: 767px)"
                srcset="./images/program/donut_3-mob-1x.png 1x, ./images/program/donut_3-mob-2x.png 2x"
                type="image/png" />
              <img src="./images/program/donut_3-mob-1x.png" alt="donut" width="78" height="80" loading="lazy" />
            </picture>
            <h3 class="program__order-title">Time of the event</h3>
            <p class="program__order-text">18:30 (2.5 hours)</p>
            <svg class="program__order-icon" width="19" height="19">
              <use href="./images/svg/icon.svg#clock"></use>
            </svg>
          </div>
        </li>
        <li class="program__order">
          <div class="program__order-point">
            <picture class="program__order-img">
              <source media="(min-width: 1280px)"
                srcset="./images/program/donut_4-desc-1x.webp 1x, ./images/program/donut_4-desc-2x.webp 2x"
                type="image/webp" />
              <source media="(min-width: 768px)"
                srcset="./images/program/donut_4-tab-1x.webp 1x, ./images/program/donut_4-tab-2x.webp 2x"
                type="image/webp" />
              <source media="(max-width: 767px)"
                srcset="./images/program/donut_4-mob-1x.webp 1x, ./images/program/donut_4-mob-2x.webp 2x"
                type="image/webp" />
              <source media="(min-width: 1280px)"
                srcset="./images/program/donut_4-desc-1x.png 1x, ./images/program/donut_4-desc-2x.png 2x"
                type="image/png" />
              <source media="(min-width: 768px)"
                srcset="./images/program/donut_4-tab-1x.png 1x, ./images/program/donut_4-tab-2x.png 2x"
                type="image/png" />
              <source media="(max-width: 767px)"
                srcset="./images/program/donut_4-mob-1x.png 1x, ./images/program/donut_4-mob-2x.png 2x"
                type="image/png" />
              <img src="./images/program/donut_4-mob-1x.png" alt="donut" width="74" height="80" loading="lazy" />
            </picture>
            <h3 class="program__order-title">The host speaks</h3>
            <p class="program__order-text">English, French</p>
            <svg class="program__order-icon" width="19" height="19">
              <use href="./images/svg/icon.svg#chat"></use>
            </svg>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>