<section class="section reviews" id="reviews">
  <div class="container">
    <h2 class="subtitle reviews__title">Reviews</h2>
    <div class="reviews__list">
      <article class="reviews__item">
        <h3 class="visually-hidden">Reviewer person</h3>
        <picture class="reviews__images">
          <source srcset="./images/reviews/john-desk-1x.webp 1x, ./images/reviews/john-desk-2x.webp 2x" media="(min-width:1280px)" type="image/webp" />
          <source srcset="./images/reviews/john-desk-1x.png 1x, ./images/reviews/john-desk-2x.png 2x" media="(min-width:1280px)" type="image/png" />
          <source srcset="./images/reviews/john-tab-1x.webp 1x, ./images/reviews/john-tab-2x.webp 2x" media="(min-width:768px)" type="image/webp" />
          <source srcset="./images/reviews/john-tab-1x.png 1x, ./images/reviews/john-tab-2x.png 2x" media="(min-width:768px)" type="image/png" />
          <img class="reviews__images" src="./images/reviews/john-tab-1x.png" alt="John" loading="lazy" width="280" height="280" />
        </picture>
        <ul class="rate__list">
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-fill"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star null">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
        </ul>
        <p>John</p>
      </article>
      <article class="reviews__item">
        <h3 class="visually-hidden">Reviewer person</h3>
        <picture>
          <source media="(min-width: 1280px)" type="image/webp" srcset="./images/reviews/will-desk-1x.webp 1x, ./images/reviews/will-desk-2x.webp 2x" />
          <source media="(min-width: 1280px)" type="image/png" srcset="./images/reviews/will-desk-1x.png 1x, ./images/reviews/will-desk-2x.png 2x" />

          <source media="(min-width: 768px)" type="image/webp" srcset="./images/reviews/will-tab-1x.webp 1x, ./images/reviews/will-tab-2x.webp 2x" />
          <source media="(min-width: 768px)" type="image/png" srcset="./images/reviews/will-tab-1x.png 1x, ./images/reviews/will-tab-2x.png 2x" />

          <source media="(max-width: 767px)" type="image/webp" srcset="./images/reviews/will-mob-1x.webp 1x, ./images/reviews/will-mob-2x.webp 2x" />
          <source media="(max-width: 767px)" type="image/png" srcset="./images/reviews/will-mob-1x.png 1x, ./images/reviews/will-mob-2x.png 2x" />
          <img class="reviews__images" src="./images/reviews/will-desk-1x.png" alt="Will" loading="lazy" width="280" height="280" />
        </picture>
        <div>
          <ul class="rate__list">
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/icon.svg#star-fill"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/icon.svg#star-empty"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/icon.svg#star-empty"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/icon.svg#star-empty"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star null">
                <use href="./images/svg/icon.svg#star-empty"></use>
              </svg>
            </li>
          </ul>
          <p>Will</p>
        </div>
      </article>
      <article class="reviews__item">
        <h3 class="visually-hidden">Reviewer person</h3>
        <picture>
          <source
            srcset="./images/reviews/elisabeth-desk-1x.webp 1x, ./images/reviews/elisabeth-desk-2x.webp 2x"
            media="(min-width:1280px)"
            type="image/webp"
          />
          <source srcset="./images/reviews/elisabeth-desk-1x.png 1x, ./images/reviews/elisabeth-desk-2x.png 2x" media="(min-width:1280px)" type="image/png" />
          <source srcset="./images/reviews/elisabeth-tab-1x.webp 1x, ./images/reviews/elisabeth-tab-2x.png 2x" media="(min-width:768px)" type="image/webp" />
          <source srcset="./images/reviews/elisabeth-tab-1x.png 1x, ./images/reviews/elisabeth-tab-2x.png 2x" media="(min-width:768px)" type="image/png" />
          <img class="reviews__images" src="./images/reviews/elisabeth-desk-1x.png" alt="Elisabeth" loading="lazy" width="280" height="280" />
        </picture>
        <ul class="rate__list">
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-fill"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star null">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
        </ul>
        <p>Elisabeth</p>
      </article>
      <article class="reviews__item">
        <h3 class="visually-hidden">Reviewer person</h3>
        <picture class="reviews__images">
          <source srcset="./images/reviews/john-desk-1x.webp 1x, ./images/reviews/john-desk-2x.webp 2x" media="(min-width:1280px)" type="image/webp" />
          <source srcset="./images/reviews/john-desk-1x.png 1x, ./images/reviews/john-desk-2x.png 2x" media="(min-width:1280px)" type="image/png" />
          <source srcset="./images/reviews/john-tab-1x.webp 1x, ./images/reviews/john-tab-2x.webp 2x" media="(min-width:768px)" type="image/webp" />
          <source srcset="./images/reviews/john-tab-1x.png 1x, ./images/reviews/john-tab-2x.png 2x" media="(min-width:768px)" type="image/png" />
          <img class="reviews__images" src="./images/reviews/john-tab-1x.png" alt="John" loading="lazy" width="280" height="280" />
        </picture>
        <ul class="rate__list">
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-fill"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star null">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
        </ul>
        <p>John</p>
      </article>
      <article class="reviews__item">
        <h3 class="visually-hidden">Reviewer person</h3>
        <picture>
          <source media="(min-width: 1280px)" type="image/webp" srcset="./images/reviews/will-desk-1x.webp 1x, ./images/reviews/will-desk-2x.webp 2x" />
          <source media="(min-width: 1280px)" type="image/png" srcset="./images/reviews/will-desk-1x.png 1x, ./images/reviews/will-desk-2x.png 2x" />

          <source media="(min-width: 768px)" type="image/webp" srcset="./images/reviews/will-tab-1x.webp 1x, ./images/reviews/will-tab-2x.webp 2x" />
          <source media="(min-width: 768px)" type="image/png" srcset="./images/reviews/will-tab-1x.png 1x, ./images/reviews/will-tab-2x.png 2x" />

          <source media="(max-width: 767px)" type="image/webp" srcset="./images/reviews/will-mob-1x.webp 1x, ./images/reviews/will-mob-2x.webp 2x" />
          <source media="(max-width: 767px)" type="image/png" srcset="./images/reviews/will-mob-1x.png 1x, ./images/reviews/will-mob-2x.png 2x" />
          <img class="reviews__images" src="./images/reviews/will-desk-1x.png" alt="Will" loading="lazy" width="280" height="280" />
        </picture>
        <div>
          <ul class="rate__list">
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/icon.svg#star-fill"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/icon.svg#star-empty"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/icon.svg#star-empty"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star">
                <use href="./images/svg/icon.svg#star-empty"></use>
              </svg>
            </li>
            <li class="rate__item">
              <svg class="icon__star null">
                <use href="./images/svg/icon.svg#star-empty"></use>
              </svg>
            </li>
          </ul>
          <p>Will</p>
        </div>
      </article>
      <article class="reviews__item">
        <h3 class="visually-hidden">Reviewer person</h3>
        <picture>
          <source
            srcset="./images/reviews/elisabeth-desk-1x.webp 1x, ./images/reviews/elisabeth-desk-2x.webp 2x"
            media="(min-width:1280px)"
            type="image/webp"
          />
          <source srcset="./images/reviews/elisabeth-desk-1x.png 1x, ./images/reviews/elisabeth-desk-2x.png 2x" media="(min-width:1280px)" type="image/png" />
          <source srcset="./images/reviews/elisabeth-tab-1x.webp 1x, ./images/reviews/elisabeth-tab-2x.png 2x" media="(min-width:768px)" type="image/webp" />
          <source srcset="./images/reviews/elisabeth-tab-1x.png 1x, ./images/reviews/elisabeth-tab-2x.png 2x" media="(min-width:768px)" type="image/png" />
          <img class="reviews__images" src="./images/reviews/elisabeth-desk-1x.png" alt="Elisabeth" loading="lazy" width="280" height="280" />
        </picture>
        <ul class="rate__list">
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-fill"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
          <li class="rate__item">
            <svg class="icon__star null">
              <use href="./images/svg/icon.svg#star-empty"></use>
            </svg>
          </li>
        </ul>
        <p>Elisabeth</p>
      </article>
    </div>
    <div class="reviews__description">
      <p>
        Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to
        cook a delicious dish even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly
        recommend it to everyone!
      </p>
      <p>
        You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen! Last time I have visited a cooking course by Eva
        I was impressed with the way she explained everything to people. Thank you so much for the masterclass! Looking forward to the next one and highly
        recommend it to everyone!
      </p>
      <p>
        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone! Last time I have visited a cooking course by
        Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a delicious dish even if it is your first
        time in the kitchen!
      </p>
      <p>
        Last time I have visited a cooking course by Eva I was impressed with the way she explained everything to people. You can be sure you will manage to
        cook a delicious dish even if it is your first time in the kitchen! Thank you so much for the masterclass! Looking forward to the next one and highly
        recommend it to everyone!
      </p>
      <p>
        You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen! Last time I have visited a cooking course by Eva
        I was impressed with the way she explained everything to people. Thank you so much for the masterclass! Looking forward to the next one and highly
        recommend it to everyone!
      </p>
      <p>
        Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone! Last time I have visited a cooking course by
        Eva I was impressed with the way she explained everything to people. You can be sure you will manage to cook a delicious dish even if it is your first
        time in the kitchen!
      </p>
    </div>
  </div>
</section>
