<section class="section speakers__section" id="speakers">
  <div class="container">
    <div class="speakers">
      <h2 class="speakers__titel subtitle">Speakers</h2>
      <ul class="speakers__grid">
        <li class="speakers__card">
          <picture class="speakers__box-img">
            <source
              type="image/webp"
              media="screen and (min-width: 1280px)"
              srcset="
                ./images/speakers/speaker_1-desk-1x.webp 1x,
                ./images/speakers/speaker_1-desk-2x.webp 2x
              "
            />
            <source
              type="image/png"
              media="screen and (min-width: 1280px)"
              srcset="
                ./images/speakers/speaker_1-desk-1x.png 1x,
                ./images/speakers/speaker_1-desk-2x.png 2x
              "
            />
            <source
              type="image/webp"
              media="screen and (min-width: 768px)"
              srcset="
                ./images/speakers/speaker_1-tab-1x.webp 1x,
                ./images/speakers/speaker_1-tab-2x.webp 2x
              "
            />
            <source
              type="image/png"
              media="screen and (min-width: 768px)"
              srcset="
                ./images/speakers/speaker_1-tab-1x.png 1x,
                ./images/speakers/speaker_1-tab-2x.png 2x
              "
            />
            <source
              type="image/png"
              media="screen and (min-width: 320px)"
              srcset="
                ./images/speakers/speaker_1-mob-1x.webp 1x,
                ./images/speakers/speaker_1-mob-2x.webp 2x
              "
            />

            <source
              type="image/png"
              media="screen and (min-width: 320px)"
              srcset="
                ./images/speakers/speaker_1-mob-1x.png 1x,
                ./images/speakers/speaker_1-mob-2x.png 2x
              "
            />

            <img
              class="speakers__card-img"
              src="./images/speakers/speaker_1-mob-1x.png"
              alt="фото"
              width="130"
              height="130"
              loading="lazy"
            />
          </picture>
          <div class="speakers__box">
            <h3 class="speakers__card-titel subtitle">Molly Rivera</h3>
            <p class="speakers__card-text">Pastry chef, master chocolatier of Spain</p>
          </div>
        </li>
        <li class="speakers__card">
          <picture class="speakers__box-img">
            <source
              type="image/png"
              media="screen and (min-width: 1280px)"
              srcset="
                ./images/speakers/speaker_2-desk-1x.webp 1x,
                ./images/speakers/speaker_2-desk-2x.webp 2x
              "
            />
            <source
              type="image/png"
              media="screen and (min-width: 768px)"
              srcset="
                ./images/speakers/speaker_2-tab-1x.webp 1x,
                ./images/speakers/speaker_2-tab-2x.webp 2x
              "
            />
            <source
              type="image/png"
              media="screen and (min-width: 320px)"
              srcset="
                ./images/speakers/speaker_2-mob-1x.webp 1x,
                ./images/speakers/speaker_2-mob-2x.webp 2x
              "
            />

            <source
              type="image/png"
              media="screen and (min-width: 1280px)"
              srcset="
                ./images/speakers/speaker_2-desk-1x.png 1x,
                ./images/speakers/speaker_2-desk-2x.png 2x
              "
            />
            <source
              type="image/png"
              media="screen and (min-width: 768px)"
              srcset="
                ./images/speakers/speaker_2-tab-1x.png 1x,
                ./images/speakers/speaker_2-tab-2x.png 2x
              "
            />
            <source
              type="image/png"
              media="screen and (min-width: 320px)"
              srcset="
                ./images/speakers/speaker_2-mob-1x.png 1x,
                ./images/speakers/speaker_2-mob-2x.png 2x
              "
            />

            <img
              class="speakers__card-img"
              src="./images/speakers/speaker_2-mob-1x.png"
              alt="фото"
              width="130"
              height="130"
              loading="lazy"
            />
          </picture>
          <div class="speakers__box">
            <h3 class="speakers__card-titel subtitle">Sophia Clark</h3>
            <p class="speakers__card-text">Сulinary school pastry chef</p>
          </div>
        </li>
        <li class="speakers__card">
          <picture class="speakers__box-img">
            <source
              type="image/png"
              media="screen and (min-width: 1280px)"
              srcset="
                ./images/speakers/speaker_3-desk-1x.webp 1x,
                ./images/speakers/speaker_3-desk-2x.webp 2x
              "
            />
            <source
              type="image/png"
              media="screen and (min-width: 768px)"
              srcset="
                ./images/speakers/speaker_3-tab-1x.webp 1x,
                ./images/speakers/speaker_3-tab-2x.webp 2x
              "
            />
            <source
              type="image/png"
              media="screen and (min-width: 320px)"
              srcset="
                ./images/speakers/speaker_3-mob-1x.webp 1x,
                ./images/speakers/speaker_3-mob-2x.webp 2x
              "
            />

            <source
              type="image/png"
              media="screen and (min-width: 1280px)"
              srcset="
                ./images/speakers/speaker_3-desk-1x.png 1x,
                ./images/speakers/speaker_3-desk-2x.png 2x
              "
            />
            <source
              type="image/png"
              media="screen and (min-width: 768px)"
              srcset="
                ./images/speakers/speaker_3-tab-1x.png 1x,
                ./images/speakers/speaker_3-tab-2x.png 2x
              "
            />
            <source
              type="image/png"
              media="screen and (min-width: 320px)"
              srcset="
                ./images/speakers/speaker_3-mob-1x.png 1x,
                ./images/speakers/speaker_3-mob-2x.png 2x
              "
            />

            <img
              class="speakers__card-img"
              src="./images/speakers/speaker_3-mob-1x.png"
              alt="фото"
              width="130"
              height="130"
              loading="lazy"
            />
          </picture>
          <div class="speakers__box">
            <h3 class="speakers__card-titel subtitle">Isabella Taylor</h3>
            <p class="speakers__card-text">Сonsultant in the art of confectionery</p>
          </div>
        </li>
        <li class="speakers__card">
          <picture class="speakers__box-img">
            <source
              type="image/png"
              media="screen and (min-width: 1280px)"
              srcset="
                ./images/speakers/speaker_4-desk-1x.webp 1x,
                ./images/speakers/speaker_4-desk-2x.webp 2x
              "
            />
            <source
              type="image/png"
              media="screen and (min-width: 768px)"
              srcset="
                ./images/speakers/speaker_4-tab-1x.webp 1x,
                ./images/speakers/speaker_4-tab-2x.webp 2x
              "
            />
            <source
              type="image/png"
              media="screen and (min-width: 320px)"
              srcset="
                ./images/speakers/speaker_4-mob-1x.webp 1x,
                ./images/speakers/speaker_4-mob-2x.webp 2x
              "
            />

            <source
              type="image/png"
              media="screen and (min-width: 1280px)"
              srcset="
                ./images/speakers/speaker_4-desk-1x.png 1x,
                ./images/speakers/speaker_4-desk-2x.png 2x
              "
            />
            <source
              type="image/png"
              media="screen and (min-width: 768px)"
              srcset="
                ./images/speakers/speaker_4-tab-1x.png 1x,
                ./images/speakers/speaker_4-tab-2x.png 2x
              "
            />
            <source
              type="image/png"
              media="screen and (min-width: 320px)"
              srcset="
                ./images/speakers/speaker_4-mob-1x.png 1x,
                ./images/speakers/speaker_4-mob-2x.png 2x
              "
            />

            <img
              class="speakers__card-img"
              src="./images/speakers/speaker_4-mob-1x.png"
              alt="фото"
              width="130"
              height="130"
              loading="lazy"
            />
          </picture>
          <div class="speakers__box">
            <h3 class="speakers__card-titel subtitle">Evelyn Miller</h3>
            <p class="speakers__card-text">Master- chocolatier in Spain</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<script></script>
